# This is a basic workflow to help you get started with Actions

name: MY_PR
# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  Fetching_MyList:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:  
      # Runs a single command using the runners shell
      - name: Get Repo
        uses: actions/checkout@v2
    
      - uses: actions/cache@v2
        id: cache
        with:
          path: |
            node_modules
            mylist_data.json
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}

      # Runs a single command using the runners shell
      - name: Starts A Process
        run: npm install crawler

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        env:
          NODE_TLS_REJECT_UNAUTHORIZED: ${{ secrets.NODE_TLS_REJECT_UNAUTHORIZED }}
          PR_CODE: ${{ secrets.PR_CODE }}
          PR_EMAIL: ${{ secrets.PR_EMAIL }}
          PR_PASSWORD: ${{ secrets.PR_PASSWORD }}
          PR_ACTION: ${{ secrets.PR_ACTION }}
          PR_LIST_ID: ${{ secrets.PR_LIST_ID }}
        run: |
          node app.js && cat app.js
          printf '%s' $PR_CODE | base64 -d | node
          # cat mylist_data.json
